{% extends "post/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="content-section">
      <h3>Current Watch Word Set is "{{ WatchWord.watch }}"</h3>
      <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Watch Word</legend>
          {{ form|crispy }}
        </fieldset>

        <div class="form-group">
          <button class="btn btn-outline-secondary" type="submit">Set Watch Word</button>
        </div>
      </form>

    </div>

{% endblock %}
